@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap'); */
/* font-family: 'Ubuntu', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    min-height: 100vh;
    background: #333;
    justify-content: flex-end;
    align-items: flex-end;
}
footer{
    position: relative;
    background: #3586ff;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    /* Flexing in a row */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li{
    list-style: none;
}
footer .social_icon li a{
    font-size: 1.5em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover{
    transform: translateY(-10px);
}